body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  padding: 0.5rem;
  color: white;
  background-color: cornflowerblue;
}

.Navbar {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  background-color: cornflowerblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Navbar li a {
  /* text-decoration: none; */
  margin-right: 1rem;
  color: white;
}

.LoginPage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.LoginPage input {
  margin: auto;
}

.LoginPage button {
  margin: auto;
  margin-top: 1rem;
}

.HomePage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.GamesTable {
  width: 33%;
  margin: auto;
}

.GamesTable caption {
  font-size: 120%;
  font-weight: bold;
}

.GamePage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.GameCanvas {
  background-color: seagreen;
  margin: auto;
  margin-top: 1rem;
}

.game-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.game-buttons button {
  margin-right: 1rem;
}

.GameOverMessage {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotating 8s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.GameOverMessage rect {
  fill: cornflowerblue;
}

.GameOverMessage text {
  fill: white;
  font-size: 200%;
  text-anchor: middle;
}

.ScoreDisplay {
  transform-box: fill-box;
  transform-origin: center;
  fill: white;
}

.Hand {
  transform-box: fill-box;
  transform-origin: center;
}

.Hand.outline {
  outline: solid 0.2rem plum;
  outline-offset: 0.2rem;
}

.Card {
  transform-box: fill-box;
  transform-origin: center;
}

.Card.highlight {
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
  cursor: pointer;
}

/* .Deck {
  animation-duration: 1s;
  animation-name: slide-from-left;
} */

/* .Deck.slide-in {
  animation-duration: 1s;
  animation-name: slide-from-left;
} */

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
}

/* .HeldCard {
  animation-duration: 0.5s;
  animation-name: slide-from-table-to-held;
}

@keyframes slide-from-table-to-held {
  from {
    transform: translateX(-148px) translateY(-158px);
  } 
} */

.user-info {
  margin: 0;
  margin-left: auto;
  margin-right: 1.5rem;
  font-size: 80%;
  color: white;
}

.user-name {
  color: lime;
}

.user-id {
  color: greenyellow;
}
