#root {
  display: flex;
  justify-content: center;
  flex-direction: column; display: flex;
}

#game-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#root svg {
  margin: auto;
}

#create-game-button {
  margin: auto;
}

#start-game-button {
  margin: auto;
}

#title {
  margin: auto;
}

#create-games-table {
  text-align: center;
  width: 33%;
  margin: auto;
}
