#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.game-page svg {
  margin: auto;
}

.create-game-button {
  margin: auto;
}

.start-game-button {
  margin: auto;
}

.games-table {
  text-align: center;
  width: 33%;
  margin: 1rem auto;
}
