body {
  margin: 0;
  padding: 0;
}

button {
  padding: 0.5em;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.game-page svg {
  margin: auto;
}

.create-game-button {
  margin: auto;
  margin-bottom: 0.4em;
  display: block;
}

.start-game-button {
  margin: auto;
  display: block;
}

.games-table {
  width: 33%;
  margin: 1rem auto;
}

.games-table caption {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.navbar {
  display: flex;
  margin-bottom: -2em;
  padding: -2em;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  margin-right: 1em;
}
